
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <header>
    <img>
        <img src="/images/logo-mercado-liebre.svg"></img>
        <h2>acá va a ir la barra de busqueda</h2>
        <h2>Comprá en cuotas y sin tarjeta de crédito</h2>

        <ul>
            <nav>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </nav>
        </ul>

        <ul>
            <nav>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </nav>
        </ul>

        <img src="/images/img-home-banner.jpg"></img>
        </header>


        <main>
        <ul>
            <li><b>Sección: Basado en tu última visita</b></li>

                <section>
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg">
                        <p>$6.770</p>
                        <p>40% OFF</p>
                        <p><b>Cafetera Moulinex</b></p>
                    </article>

                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg">
                        <p>$230.000</p>
                        <p>20% off</p>
                        <p><b>MacBook Pro 2019</b></p>
                    </article>

                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                        <p>$70.500</p>
                        <p>10% of</p>
                        <p><b>Samsung Galaxy S10</b></p>
                    </article>

                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg">
                        <p>$23.200</p>
                        <p>5% of</p>
                        <p><b>SmartTv Samsung 43</b></p>
                    </article>

                </section>
            <li><b>Sección de Ofertas</b></li>

            <section>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <p>$6.770</p>
                    <p>40% off</p>
                    <p><b>Cafetera Moulinex</b></p>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p><b>MacBook Pro 2019</b></p>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <p>$70.500</p>
                    <p>10% of</p>
                    <p><b>Samsung Galaxy S10</b></p>
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <p>$23.200</p>
                    <p>5% of</p>
                    <p><b>SmartTv Samsung 43</b></p>
                </article>
            </section>
        </ul>
    </main>




    <footer>
        <section>
            <ul type="none">
                <li><b>Pagá con tarjeta o en efectivo</b></li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en<br>puntos de pago. ¡Y siempre es seguro!</p>
            </ul>
        </section>


        <section>
            <ul type="none">
                <li><b>Envío gratis desde $ 2.500</b></li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de<br>productos. Es un beneficio de Mercado Puntos.</p>
            </ul>
        </section>

        <section>
            <ul type="none">
                <li><b>Seguridad, de principio a fin</b></li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,<br>porque estás siempre protegid@.</p>
            </ul>
        </section>

        <section>
            <ul type="none">
                <li>Copyright © 1999-2020 MercadoLiebre S.R.L</li>
            </ul>
        </section>

    </footer>
    
</body>
</html>