.header-home img {

    width: 400px;
    margin: 60px 0 10px 30px;
   
}

.header-home form input {
    width: 350px;
    margin: 10px 0px 0px 30px;
}

.header-home  h4 {
    padding-left: 80px;
}

.header-home nav ul {
    list-style: none;
    padding: 26px 0 0 0;
    padding-bottom: 16px;
}

.header-home nav ul li a{
    color: black;
    text-decoration: none;

} 

 .header-home .logo-busqueda {
   border: 1px solid black;
    background-color: var(--Grisclaro);
    width: 18px;
    margin: 1px 0px 10px 30px;
    padding-left: 0.5px;
}

.burger-menu {
    background-color: var(--celeste);
    text-align: center;
    width: 30px;
    height: 30px;
    margin-left: 50%;
    border-radius: 4px;
}

.burger-menu i {
    padding-top: 7px;
    color: var(--Grisclaro);
}


/*main*/

.main-home section h4 {
    font-size: var(--titulares);

}
.main-home section article  .precios-home {
 font-size: var(--precios);

}
.main-home section article .descuentos-home {
    font-size: var(--descuentos);
 
}
.main-home section article .descripcion-home {
    font-size: var(--descripciones);
}
.main-home {
    text-align: center;
}